DJANGO_SECRET_KEY=django-insecure-dev-only-key-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database (Postgres for local docker profile)
DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_NAME=pcc
DJANGO_DB_USER=postgres
DJANGO_DB_PASSWORD=postgres
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432

# Celery/Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1